<%- include('shared/html-head') %>
	<% if ( movies.length > 0 ) { %>
	<div class="container">
		<div class="row">
			<% for( var i in movies ) { %>
				<% var movie = movies[ i ]; %>
				<a href="/movies/<%= movie.id %>" class="col-sm-2 col-md-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<img src="/images/movies/<%= movie.id %>.jpeg" alt="<%= movie.name %>" class="responsive"/>
						</div>
						<p class="text-center text-muted"><%= movie.name %></p>
					</div>
				</a>
			<% } %>
		</div>
	</div>
	<% } %>
<%- include('shared/html-footer') %>
