<%- include('../shared/html-head') %>
	<div class="container">
		<div class="page-header">
			<h1><%= movie.name %></h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/images/movies/<%= movie.id %>.jpeg" alt="<%= movie.name %>" />
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-offset-4 col-lg-4">
				<p class="text-muted"><%- moment( movie.release_date ).format( 'DD/MM/YYYY' ) %></p>
				<label class="small">Synopsis</label>
				<p><%- movie.synopsis %></p>
				<% var movieGenres = movie.genre_ids.split( ',' ); %>
				<% if ( movieGenres.length > 0 ) { %>
					<% for ( var i in genres ) { %>
						<% var genre = genres[ i ]; %>
						<% if ( movieGenres.indexOf( genre.id.toString() ) > -1  ) { %>
							<span class="label label-primary"><%= genre.name %></span>
						<% } %>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>

<%- include('../shared/html-footer') %>
